:root {
  font-size: 16px;
  --block-pad: 3.3225em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #FFFFFF;
}

/*Typography*/
p {
  line-height: 1.25;
}

h1, h2 {
  letter-spacing: -0.03em;
}

h1, h2, h3 {
  line-height: 1.08;
  font-weight: 700;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20.0379px;
  color: #0E0E0E;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  color: #141414;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #090909;
  font-weight: 600;
  text-transform: uppercase;
}

/*Layout*/
header {
  padding-block: 1.875em;
}

.nav-bar, .logo-container, ul {
  display: flex;
  align-items: center;
}

.nav-bar {
  justify-content: space-between;
}
.nav-bar ul {
  gap: 25px;
}

.container {
  width: 90.2%;
  margin: 0 auto;
}

.hero, .hero .container {
  display: flex;
  flex-direction: column;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  min-height: 500px;
  padding-block: var(--block-pad);
  justify-content: flex-end;
}
.hero .container {
  gap: 9.73px;
}

.article-section .container {
  padding-block: var(--block-pad);
  display: grid;
  row-gap: 46px;
  -moz-column-gap: 26px;
       column-gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.article-section .container img {
  width: 100%;
  border-radius: 3px;
  height: 232px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.article p:first-of-type {
  color: black;
  font-size: 14px;
  line-height: 18px;
}

.article-text {
  color: #505050;
}

.main-footer {
  margin-bottom: 51px;
}
.main-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
  font-size: 14.1735px;
  line-height: 18px;
  font-family: inherit;
}

.footer {
  text-align: center;
  padding-block: 37px;
  background: #202020;
}
.footer p:first-child {
  font-size: 12px;
  font-weight: 700;
  color: #ECECEC;
  line-height: 1.08;
  margin-bottom: 3px;
}
.footer p:last-child {
  color: #D7D7D7;
  font-size: 12px;
  line-height: 1.25;
}

/*About me styling*/
.about-page p {
  color: #151515;
}

.mid-header {
  text-align: center;
}

.intro h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.avatar-and-intro {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  align-items: center;
}
.avatar-and-intro img {
  height: 182px;
  width: 182px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-block: 65px;
  padding-inline: 6.267281106%;
}
.description h3 {
  font-size: 16px;
}

.about-page .container {
  padding-top: 28px;
}

@media (max-width: 575px) {
  .container {
    width: 90.33%;
  }
  .header {
    padding-block: 21px;
  }
  .hero {
    min-height: 293px;
    padding-block: 25px;
  }
  .hero .container {
    gap: 8px;
  }
  h2 {
    font-size: 32px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 20px;
  }
  .date {
    font-size: 12px;
  }
  .article-section .container {
    padding-block: 34px;
  }
  h1 {
    font-size: 13.5522px;
  }
  .article {
    gap: 9px;
  }
  a {
    font-size: 12px;
  }
  .nav-bar ul {
    gap: 1rem;
  }
  .main-footer {
    margin-bottom: 43px;
  }
}
@media (max-width: 850px) {
  .avatar-and-intro {
    flex-direction: column;
    gap: 27px;
    align-items: flex-start;
  }
  .description {
    padding-block: 50px;
    padding-inline: 0;
  }
  .description h3 {
    font-size: 20px;
  }
  .intro h2 {
    font-size: 30.8381px;
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=style.css.map */